
/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    background-color: #edeae5c4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #252525;
    font-size: 100%;
}

/*Header*/

header {
    background-color: #026670;
    padding: 2rem;
    position: fixed;
    z-index: 80;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-height: 5vh;
}

#logo {
    font-size: 150%;
    color:#ffe06e
}


header a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #026670;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

/*Body and main content*/

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 100px;
    
}

/* Front image */

#front-image {
    height: 600px;
    width: 100%;
    background: url("./images/frontpage-lightbulb 2.png") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    font-size:100%;
    position:absolute;
    bottom: 60px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    width: 80%;
    
}

#cover-text > h2 {
    font-size: 200%;
}

#cover-text > h2, #cover-text > h3 {
    color: #fce181;
    text-align:left;
}

#purpose {
    margin: 20px auto;
    width: 90%;
}

#purpose h2 {
    font-weight: 900;
    text-align: center;
    font-size: 220%;
}

#purpose p {
    font-size:120%;
    text-align: center;
    line-height: 1.5;
}

/* Resources */

#resources {
    margin: 20px auto;
    width: 90%;
    font-size:120%;
}

/* Careers */

#careers > h3 {
    background-color: #9FEDD7;
    font-size:140%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.careers-box > h2 {
    font-weight: bold;
    font-size:140%;
    margin-bottom: 2%;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 120%;
    line-height: 1.5;
}


#biotech-industry {
	background-color: #fce18189;
    left: 70px;
    
}

#IT {
	background-color: #02667089;
	position: relative;
	z-index: 1;
    
    
}

#business {
	background-color: #029dab89;
    right: 70px;
    
}

.careers-box {
    width: 100%; /* Make each box take 30% of the container */
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    font-size: 60%;
    margin-bottom: 10px;
}

.careers-box i {
    font-size: 120%;
    padding: 5%;
}

/* Testimonials */

#testimonials > h3 {
    background-color: #ffe06e;
    font-size:140%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.testimonials-box {
    line-height: 20px;
    margin-bottom: 20px;
}

.testimonials-box > h2 {
    padding: 10px 20px;
    font-size: 100%;
    line-height: 1.5;
}

.testimonials-box p {
    padding: 10px 20px;
    font-size: 90%;
    line-height: 1.5;
    text-align:justify;
}

.testimonials-box hr {
    border-top: 1px solid #3a3a3a;
}





/* Footer */

#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #026670;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
     main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
    
    /* Front-image */
    #cover-text {
        font-size:140%;
        left: 40px;
        position:absolute;
        bottom: 60px;
        min-height: 200px;
        padding-top: 40px;
        padding-left: 10px;
        width: 55%;
        
    }

    /* Resources */
    .careers-box {
        display: inline-block;
        width: 33%; 
        margin: 1rem 0;
        margin-top: 10px;
    }

    /* Testimonials */
    #testimonial-andrew, #testimonial-zara, #testimonial-ron {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #testimonial-zara {
        text-align: end;
        align-self: flex-end;
    }
    
}

